@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  width: 90%;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
  .swiper-slide {
    width: 50% !important;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 70%;
  }
  .swiper-slide {
    width: 33.33% !important;
  }
}

@media (min-width: 1536px) {
  .container {
    width: 60%;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.swiper {
  display: flex;
}
.swiper-slide {
  width: 100%;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
